<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>390357405787-sc7bsf8ds1qeol2133k0m7ngakfr16ft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.390357405787-sc7bsf8ds1qeol2133k0m7ngakfr16ft</string>
	<key>API_KEY</key>
	<string>AIzaSyBYFrTO5d0iiAq_8SKB6Fi9WMok6G9vWKY</string>
	<key>GCM_SENDER_ID</key>
	<string>390357405787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quanvo.ARty</string>
	<key>PROJECT_ID</key>
	<string>arty-e2628</string>
	<key>STORAGE_BUCKET</key>
	<string>arty-e2628.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:390357405787:ios:20f777bc399416be</string>
	<key>DATABASE_URL</key>
	<string>https://arty-e2628.firebaseio.com</string>
</dict>
</plist>